<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NSOperation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>图片下载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>多线程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>959AA67F1C8D6AC200B41B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>959AA6971C8D6AC200B41B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95BDED511C8750CB006BA3E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95BDED6A1C8750CC006BA3E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F6DB661C8874A50084C02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F6DB7E1C8874A60084C02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F6DB8F1C8980380084C02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F6DBA71C8980390084C02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
